.cover__link {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
    text-decoration: none;
    color: #FFFFFF;
}

@media screen and (max-width: 500px) {
    .cover__link {
        row-gap: 16px;
    }
}

@media screen and (max-width: 320px) {
    .cover__link {
        row-gap: 16px;
    }
}