.places {
    margin: 0 auto;
    padding: 92px 0 0 0;
    width: 77%;
}


@media screen and (max-width: 1024px) {
    .places {
        width: 90.6%;
    }
}

@media screen and (max-width: 768px) {
  .places {
      padding-top: 88px;
      width: 93.7%;
  }
}

@media screen and (max-width: 600px) {
    .places {
        padding-top: 64px;
        width: 100%;
    }
  }

@media screen and (max-width: 320px) {
    .places {
        padding-top: 64px;
        width: 100%;
    }
  }