.place__image {
    display: block;
    margin: 0;
    padding: 0;
    width: 46.7%;
    object-fit: contain;
}

@media screen and (max-width: 1024px) {
    .place__image {
        width: 47.4%;
    }
}

@media screen and (max-width: 768px) {
    .place__image {
        width: 47.2%;
    }
}

@media screen and (max-width: 600px) {
    .place__image {
        width: 100%;
    }
}


@media screen and (max-width: 320px) {
    .place__image {
        width: 100%;
    }
}

