.place__texts {
    width: 49.18%;
}

.place__texts:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place__texts {
        width: 49.13%;
    }
}

@media screen and (max-width: 768px) {
    .place__texts {
        width: 48.8%;
    }
}

@media screen and (max-width: 500px) {
    .place__texts {
        margin-left: 16px;
        width: 90%;
    }
}

@media screen and (max-width: 320px) {
    .place__texts {
        margin-left: 16px;
        width: 90%;
    }
}