.cover__subtitle {
    margin: 32px auto 0;
    padding: 0;
    width: 30.4%;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        margin: 32px auto 0;
        width: 35.6%;
    }
}

/** немного увеличил значение точки перелома, так как главный заголовок начинает ехать **/

@media screen and (max-width: 790px) {
    .cover__subtitle {
        width: 46.8%;
    }
}


/** cнова задал точку перелома побольше, так как на смартфонах все ломается **/

@media screen and (max-width: 710px) {
    .cover__subtitle {
        width: 90%;
        font-size: 14px;
        line-height: 16px;
    }
}

