.cover__subtitle {
    margin: 0;
    padding: 0;
    width: 30.4%;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        width: 35.6%;
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        width: 46.8%;
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (max-width: 500px) {
    .cover__subtitle {
        width: 90%;
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        width: 90%;
        font-size: 14px;
        line-height: 16px;
    }
}