.place__bottom-side {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 40px;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .place__bottom-side {
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place__bottom-side {
        column-gap: 28px;
    }
}

@media screen and (max-width: 500px) {
    .place__bottom-side {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
}

@media screen and (max-width: 320px) {
    .place__bottom-side {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
}

