.lead__title {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 56.2%;
    font-size: 96px;
    line-height: 100px;
    font-weight: 900;
    color: #FFFFFF; 
}

@media screen and (max-width: 1024px) {
    .lead__title {
        min-width: 70.3%;
    }
}

/** немного увеличил значение точки перелома, так как главный заголовок начинает ехать **/

@media screen and (max-width: 790px) {
    .lead__title {
        min-width: 93.7%;
    }
}


/** cнова задал точку перелома побольше, так как на смартфонах все ломается **/

@media screen and (max-width: 710px) {
    .lead__title {
        min-width: 90%;
        font-size: 40px;
        line-height: 44px;
    }
}