.intro {
    margin: 0;
    padding-left: 11.5%;
    box-sizing: content-box;
    width: 53.9%;
}
@media screen and (max-width: 1024px) {
    .intro {
        padding-left: 4.5%;
        width: 67%;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        padding-left: 3.1%;
        width: 93.7%;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        padding-left: 5%;
        width: 90%;
    }
}
