.cover {
    margin: 0 auto;
    width: 92.5%;
    min-height: 740px;
    display: flex;
    align-items: center;
    background-size: cover;
    position: relative;
    z-index: 0;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
    .cover {
        width: 100%;
        min-height: 640px;
    }
}

@media screen and (max-width: 850px) {
    .cover__overlay {
        width: 100%;
        min-height: 480px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        width: 100%;
        min-height: 480px;
    }
}

@media screen and (max-width: 500px) {
    .cover {
        width: 100%;
        min-height: 200px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        width: 100%;
        min-height: 200px;
    }
}