.lead__caption {
    margin: 8px 0 0 0;
    padding: 0;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 400;
    color: #FFFFFF; 
}

@media screen and (max-width: 768px) {
    .lead__caption {
        padding: 0 3.1% 0 3.1%;
    }
}

@media screen and (max-width: 320px) {
    .lead__caption {
        margin-top: 8px;
        padding: 0 5% 0 5%;
    }
}


