.menu__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    column-gap: 18px;
}

@media screen and (max-width: 750px) {
    .menu__items {
        flex-direction: column;
        row-gap: 32px;
    }
}


@media screen and (max-width: 320px) {
    .menu__items {
        flex-direction: column;
        row-gap: 32px;
    }
}