.menu__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    column-gap: 18px;
}

/** cнова задал точку перелома побольше, так как на смартфонах все ломается **/

@media screen and (max-width: 710px) {
    .menu__items {
        display: flex;
        flex-direction: column;
        justify-content: start;
        row-gap: 32px;
    }
}