.intro__title {
    margin: 92px 0 0 0;
    padding: 0;
    width: 100%;
    font-size: 54px;
    line-height: 58px;
    font-weight: 900;
    color: #FFFFFF; 
}

@media screen and (max-width: 768px) {
    .intro__title {
        margin-top: 88px;
    }
}

@media screen and (max-width: 320px) {
    .intro__title {
        margin-top: 64px;
        width: 90%;
        font-size: 32px;
        line-height: 35px;
        letter-spacing: 0.7px;
    }
}